<div class="row">
    <div class="col-9 border-right base">
        <div class="col-12">
            <img src="./assets/image/a.png" alt="" width="25%">
        </div>
        <div class="col-12" style="display: flex">
            <div class="col-6 col-md-6 col-lg-6 col-sm-6">
                <div>
                    <h1>Hawaiian Grill</h1>
                </div>
                <div>
                    <h5>Open Hours: 10:15AM - 1:00AM</h5>
                    <h5><i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        4.5 (592 Ratings)
                    </h5>
                </div>
                <div class="btn-line">
                    <div>
                        <h5>Free</h5>
                        <p>delivery</p>
                    </div>
                    <div>
                        <h5>48-58</h5>
                        <p>minutes</p>
                    </div>
                    <div>
                        <h5>4.2</h5>
                        <p>miles</p>
                    </div>
                </div>


            </div>
            <div class="col-6 col-md-6 col-lg-6 col-sm-6" style="position: relative;">
                <app-top-btn></app-top-btn>
            </div>
        </div>
        <div class="col-12">
            <img src="./assets/image/b.png" alt="" style="width: 100%">
        </div>
        <app-tabs></app-tabs>
    </div>
    <div class="col-3 base">
        <img src="./assets/image/side.png" alt="">
        <p>Your cart is empty.</p>
        <p>Add items to get started</p>
    </div>
</div>