<!--Navbar-->
<nav class="navbar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
    aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <!-- <span class="navbar-toggler-icon"></span> -->
  </button>
  <h4>ASAP <span>to</span> St.Louis</h4>
  <div class="header">
    <img src="./assets/image/doordash.png" alt="doordash">
    <h4>DOORDASH</h4>
  </div>

  <form class="form-inline my-2 my-lg-0 ml-auto">
    <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="margin-right: 20px">
    <a class="btn btn-danger"><i class="material-icons">shopping_cart</i><span style="margin-left: 10px">0</span></a>
  </form>
</nav>
<hr>
<!--/.Navbar-->